.header {
    background-image: url(../Assets/background_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 667px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__logo {
        position: absolute;
        top: 100px;
        left: 100px;
        width: 207px;
    }

    &__slogan {
        color: $yellow;
        font-size: 44px;
        font-weight: 400;
        font-family: $Anton, $DefaultFont;
        text-align: center;
    }

    &__search {
        background-color: $white;
        padding: 15px;
        border-radius: 11px;

        &__input {
            border: none;
            padding: 10px;
            width: 954px;
            font-size: 24px;
            outline: none;

            &::placeholder {
                font-size: 24px;
                font-weight: 400;
                font-family: $Manrope, $DefaultFont ;
                color: $grey;
                border: none;
            }
        }

        &__button {
            background-color: $black;
            height: 51px;
            width: 51px;
            border-radius: 10px;
            border: none;

            &__icon {
                color: $white;
                font-size: 26px;
            }
        }
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $mainBackground ;

    &__card {
        background-color: $white;
        width: 25%;
        height: 731px;
        border-radius: 21px;
        margin: 50px 25px;

        &__img {
            object-fit: cover;
            width: 100%;
            height: 253px;
            border-radius: 21px 21px 0 0;
        }

        &__description {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            padding: 0 50px;

            &__title {
                font-weight: 400;
                font-family: $Anton, $DefaultFont;
                margin: 0;
                margin-top: 25px;
            }

            &__recipe {
                &__text {
                    max-height: 75px;
                    overflow: hidden;
                }

                &__title {
                    color: $grey;
                    font-family: $Manrope, $DefaultFont ;
                }
            }

            &__ingredient {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                &__title {
                    width: 100%;
                    color: $grey;
                    font-family: $Manrope, $DefaultFont ;
                }

                &__tags {
                    margin-bottom: 15px;
                    width: 35%;

                    &__type {
                        margin: 0;
                    }

                    &__quantity {
                        margin: 0;
                        color: $grey;
                        font-family: $Manrope, $DefaultFont ;
                        font-size: 14px;
                        padding-top: 5px;
                    }
                }
            }
        }

        &__time{
            position: relative;
            background-color: $yellow;
            padding: 5px 15px 5px 15px;
            border-radius: 14px;
            font-weight: 400;
            font-family: $Manrope;
            text-align: center;
            width: 63px;
            height: 23px;
            bottom: 225px;
            left: 350px;
        }
    }

    &__sort{
        display: flex;
        margin-top: 50px;
        height: 61px;
        &__button{
            border: none;
            background-color: #901C1C;
            color: white;
            font-size: 18px;
            font-weight: 700;
            border-radius: 5px;
            box-shadow: 0px 4px 4px 0px #00000040;
            padding: 20px 25px;
            padding-right: 15px;
            width: 200px;
            text-align: start;
            cursor: pointer;
        }
        &__list{
            background-color: #901C1C;
            font-size: 18px;
            font-weight: 700;
            color: white;
            width: 170px;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0px 4px 4px 0px #00000040;
            margin: 0;
            display: none;
            position: absolute;
            left: 195px;
            z-index: 1;
            &__select{
                background-color: #901C1C;
                font-size: 18px;
                font-weight: 700;
                color: white;
                border: none;
                padding: 10px;
                padding-bottom: 20px;
                cursor: pointer;
                width: 100%;
                text-align: start;
            }
        }
        &--ingrendient{
        }
    }
}


.fa-chevron-up {
    position: relative;
    top: 25px;
    left: 150px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    z-index: 2;
}

.fa-chevron-down {
    position: relative;
    top: 20px;
    right: 50px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}