.header {
  background-image: url(../Assets/background_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 667px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__logo {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 207px;
}
.header__slogan {
  color: #FFD15B;
  font-size: 44px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  text-align: center;
}
.header__search {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 11px;
}
.header__search__input {
  border: none;
  padding: 10px;
  width: 954px;
  font-size: 24px;
  outline: none;
}
.header__search__input::-moz-placeholder {
  font-size: 24px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  color: #7A7A7A;
  border: none;
}
.header__search__input::placeholder {
  font-size: 24px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  color: #7A7A7A;
  border: none;
}
.header__search__input:focus + .header__search__reset {
  color: #7A7A7A;
}
.header__search__reset {
  border: none;
  background-color: #ffffff;
  margin-right: 15px;
  font-size: 24px;
  color: #ffffff;
}
.header__search__button {
  background-color: #1B1B1B;
  height: 51px;
  width: 51px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 26px;
}
.header__search__button:hover {
  background-color: #FFD15B;
  color: #1B1B1B;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #EDEDED;
  padding: 0 75px;
}
.main__card {
  background-color: #ffffff;
  width: 26%;
  height: 731px;
  border-radius: 21px;
  margin: 50px 0;
  position: relative;
}
.main__card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 253px;
  border-radius: 21px 21px 0 0;
}
.main__card__description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 50px;
}
.main__card__description__title {
  font-weight: 400;
  font-family: "Anton", sans-serif;
  margin: 0;
  margin-top: 25px;
}
.main__card__description__recipe__text {
  height: 92px;
  overflow: hidden;
}
.main__card__description__recipe__title {
  color: #7A7A7A;
  font-family: "Manrope", sans-serif;
}
.main__card__description__ingredient {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main__card__description__ingredient__title {
  width: 100%;
  color: #7A7A7A;
  font-family: "Manrope", sans-serif;
}
.main__card__description__ingredient__tags {
  margin-bottom: 15px;
  width: 35%;
}
.main__card__description__ingredient__tags__type {
  margin: 0;
}
.main__card__description__ingredient__tags__quantity {
  margin: 0;
  color: #7A7A7A;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  padding-top: 5px;
}
.main__card__time {
  position: absolute;
  background-color: #FFD15B;
  padding: 5px 15px 5px 15px;
  border-radius: 14px;
  font-weight: 400;
  font-family: "Manrope";
  text-align: center;
  width: 63px;
  height: 23px;
  top: 25px;
  right: 25px;
}
.main__sort {
  display: flex;
  flex-direction: column;
  font-family: "Manrope";
  margin-right: 50px;
  position: relative;
}
.main__sort__button {
  border: none;
  background-color: #ffffff;
  height: 61px;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 25px;
  padding-right: 15px;
  width: 200px;
  text-align: start;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 11px;
}
.main__sort__list {
  display: none;
  height: 315px;
  font-weight: 700;
  background-color: #ffffff;
  width: 200px;
  padding-top: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: absolute;
  z-index: 1;
  top: 61px;
  overflow: hidden;
  border-radius: 0 0 11px 11px;
}
.main__sort__list__select__option {
  background-color: #FFD15B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  font-weight: 400;
  font-family: "Manrope";
}
.main__sort__list__select__option:hover {
  font-weight: 700;
}
.main__sort__list__select__option:hover .closeOptionSelect--list {
  color: #1B1B1B;
}
.main__sort__list__title {
  height: 61px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 10px;
}
.main__sort__list__ul {
  margin: 0;
  padding: 15px;
}
.main__sort__list__ul__select {
  font-size: 14px;
  list-style: none;
  font-weight: 700;
  border: none;
  padding-bottom: 20px;
  cursor: pointer;
  width: 100%;
  text-align: start;
}
.main__sort__list__search {
  border: 1px solid #7A7A7A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  margin: 15px;
}
.main__sort__list__search__input {
  border: none;
  outline: none;
  width: 75%;
  font-size: 16px;
  height: 25px;
}
.main__sort__list__search__input:focus + .main__sort__list__search__reset {
  color: #7A7A7A;
}
.main__sort__list__search__reset {
  border: none;
  background-color: #ffffff;
  color: #ffffff;
  padding: 0;
}
.main__sort__list__search__button {
  border: none;
  background-color: #ffffff;
  color: #7A7A7A;
}
.main__recipes {
  flex-grow: 1;
  text-align: end;
  font-size: 21px;
  font-family: "Anton";
  font-weight: 400;
}
.main__selected {
  width: 100%;
  display: flex;
}
.main__selected__option {
  width: 203px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFD15B;
  border-radius: 10px;
  font-family: "Manrope";
  font-weight: 400;
  padding: 18px;
}
.main__selected__option i {
  font-size: 20px;
}

.nextTo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.fa-chevron-up,
.fa-chevron-down {
  font-size: 18px;
  font-weight: 700;
}

.closeOptionSelect--list {
  color: #FFD15B;
}/*# sourceMappingURL=index.css.map */